*{
 margin:0;
 padding:0;
 box-sizing: border-box;
}

.cards{
 width:1050px;
 height:350px;
 display: flex;
 margin:0px auto;
 
}
.cardimg{
 width:160px;
 height:200px;
 margin:10px auto;
 padding: 10px;
 
}